.App {
  text-align: center
}

.logo-meli {
  height: 40px;
  border-radius: 3rem;
}

.app-bar {
  background-color: #fef159;
  width: 100%;
}

.bottom-nav {
  background-color: #fef159;
  width: 100%;
}

.new-tweet-btn {
  color: blue;
  border-radius: 10rem;
}

body {
  background-color: #fef159;
}